:root {
    --backGroundColor: #fdfdfd;
    --gradientColor: linear-gradient(90deg, #3182f6 0%, #5969fe 100%);
    --boxBorderColor: #f5f5f5;
    --boxSubBorderColor: #f3f3f3;
    --boxUnderLineBorderColor: #efefef;
    --TabBoxBorderColor: #eaeaea;

    --colorBlack: #000000;
    --colorWhite: #ffffff;
    --colorPrimary: #3182f6;
    --colorExplan: #c4c4c4;

    --colorFontBlack: #292929;
    --colorMainFontBlack: #252525;
    --colorSubFontBlack: #353535;
    --colorFontGray: #999999;
    --colorFontDarkGray: #757576;
    --colorMainFontGray: #666666;
    --colorTitleBlack: #282828;
    --colorWhiteGray: #bebebe;

    --inputBorderColor: #dedee1;
    --inputSubBorderColor: #e6e6e6;
    --inputPlaceholderColor: #b1b3b3;
    --inputColor: #252525;

    --colorBox: #f6f6f6;
}

html,
body {
    width: 100%;
    height: 100%;
    min-height: 100%;
    background-color: var(--backGroundColor);
    -webkit-tap-highlight-color: transparent;
}

.value {
    font-size: 30rem;
    color: var(--colorMainFontBlack);
    font-weight: 800;
    letter-spacing: -0.8rem;
}
.txt {
    font-size: 22rem;
    color: var(--colorMainFontBlack);
    font-weight: 800;
    letter-spacing: -0.73rem;
}

.subpage_header {
    width: 100%;
    height: 54rem;
}
.header_container {
    position: relative;
    width: 100%;
    height: inherit;
    display: flex;
    align-items: center;
    justify-content: center;
}
.header_container .btn_prev {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    padding: 18rem;
    cursor: pointer;
}
.header_container .btn_prev img {
    display: block;
    width: 11rem;
    height: 20rem;
}
.header_container h1 {
    font-size: 15rem;
    color: var(--colorSubFontBlack);
    font-weight: 500;
}
